.Section-1{
    background-image: url("./Assets/images/Rectangle\ 1441.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    height: 1000px;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
/* .Main-screen{
    border: 1px solid red;
} */
.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
    width: 100%;
    margin-top: 0px;
    background-color: red;
}
.Panto{
    height: 35px;
    width: 78px;
    /* top: 40px;
    left: 80px; */
    font-weight: 400px;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 1%;
    color: #FFFFFF;
    font-family: gilro;
}
.Bag-image{
    width: 34px;
    height: 34px;
    top: 41px;
    left: 1326px;
    
}
.List{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: block;
    width: 400px;
    font-weight: bold;
    padding-top: 10px;
    
}
ul > a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-family: "Outfit", sans-serif;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.Kart{
    display: flex;
    align-items: center;
}
.Zero-image{
    position: relative;
    left: -10px;
    top: -10px;
}
.Heading{
    text-align: center;
    height: 208px;
    
}
.Title{
    font-size: 60px;
    color: white;
    font-weight: bolder;
    font-family: "Outfit", sans-serif;
    padding-top: 0px;
    margin-top: 100px;
}
.Section1-para{
    color: white;
    font-family: "Outfit", sans-serif;
}
.Input{
    display: flex;
    gap: 80px;
    justify-content: center;
    border: 1px solid white;
    height: 35px;
    align-items: center;
    text-align: center;
    width: 300px;
    margin-left: 200px;
    /* background-color: lightslategray; */
    border-radius: 30px;
}
.Search-box{
    background-color: transparent;
    color: white;
    border: none;
    margin-left: 10px;
}
#Search-icon{
    border: 1px solid white;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: #E58411;
}
.Section-2{
    display: flex;
    justify-content: space-evenly;
    font-family: "Outfit", sans-serif;
    align-items: center;
}
.Section-3{
    text-align: center;
    width: 100%;
}
.Best{
    font-weight: bold;
    font-family: "Jost", sans-serif;
}
.Section-3-Menu{
    display: flex;
    gap: 10px;
    justify-content: center;
    border: 1px solid white;
    width: 200px;
    margin-left: 560px;
    height: 30px;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(199, 209, 219);
}
.Section-3-Menu > a{
    color: black;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
}
.Section-3-cards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.Price{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.Chair-Name{
    font-family: "Outfit", sans-serif;
}
.View-All{
color: #E58411;
text-decoration: none;
}
.View{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.Section-3-Menu > a:hover{
    background-color: aliceblue;
    border-radius: 5px;
}
.Section-4{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 100px;
}
.Right-section{
    padding-left: 60px;
}
.Experience{
    font-family: "Exo 2", sans-serif;
    color: #E58411;
}
.Right-section-Heading{
    font-family: "Outfit", sans-serif;
}
.Right-section-para{
    font-family: "Open Sans", sans-serif;
    color: rgb(50, 53, 56);
}
.More-Info{
    text-decoration: none;
    color: #E58411;
}
.Section-5{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 220px;
}
.Section-5-Right-section{
    display: flex;
    flex-direction: row;
    width: 60%;
    padding-right: 0px;
    align-items: center;
}
.Section-5-Right-section-sub-1{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.Section-5-Left-sction{
    align-items: center;
    padding-left: 20px;
}
.Materials{
     font-family: "Exo 2", sans-serif;
    color: #E58411;
}
.Section-5-Left-sction-Heading{
    font-family: "Outfit", sans-serif;
}
.Section-5-Left-sction-para{
    font-family: "Open Sans", sans-serif;
    color: rgb(50, 53, 56);
}
.Section-6{
    text-align: center;
}
.Section-6-Heading-1{
    font-family: "Exo 2", sans-serif;
    color: #E58411;
}
.Section-6-Heading-2{
    font-family: "Open Sans", sans-serif;
}
.Section-6-Card-section{
    display: flex;
    justify-content: center;
}
.Footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F7F7F7;
}
.Footer-div-1-Heading{
    font-family: "Exo 2", sans-serif;
    font-weight: bolder;
}
.Footer-div-1,.Footer-div-2,.Footer-div-3,.Footer-div-4 > p{
    font-family: "Exo 2", sans-serif;
}
.Last-Section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    background-color: #E58411;
    color: white;
}
.Terms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.Terms > p{
    font-family: "Exo 2", sans-serif;
}
.Copyright{
    font-family: "Exo 2", sans-serif;
}



